[user]
	email = anhpht.vn@gmail.com
	name = Anh Pham
[core]
	editor = vim
	pager = less
[alias]
	br = branch
	ci = commit
	co = checkout
	d = diff --ignore-space-change
	di = diff --color-words
    la = log --graph --oneline --abbrev-commit
	last = log -1 HEAD --name-status
    lc = log ORIG_HEAD.. --stat --no-merges
    name = log --pretty=format:'%C(magenta)%h%Creset%x09%C(yellow)%an%Creset%x09%C(green)%s%Creset' --name-status
    pl = pull
    pu = push
    rb = rebase
	ss = status -s
	st = status -u
    tree = log --oneline --decorate --graph
	unstage = reset HEAD --
[color]
    branch = auto
    diff = auto
    status = auto
	ui = true
[merge]
    tool = vimdiff
[push]
	default = matching
[credential]
	helper = cache --timeout 100000000
